.title{
  text-align: center;
}
.container-two {
    margin-top: 0rem;
}

.teacher{
margin-top:0rem;
width: 36%;
flex-direction: column;
text-align: left;
box-shadow: 2px 3px 8px 4px rgb(78, 2, 68);
}

.description{
margin-top: 1rem;
display: flex;
}

.nome{
width: 6.5rem;
}

.divImage{
 display: flex;
}
.space{
width: 44%
}

.img{
  
}

.teacher-description{
margin-left: 1.5rem;
margin-top: 0rem;
margin-bottom: -1rem;
text-align: center;
}

.bio{
margin-top: 1rem;
text-align: center;
}

.linkSite{
width: 42%;
gap: 16px;
}

.icon{
  padding: 16px;
}

.contact{
justify-content: center;
margin-left: -5rem;
}


@media screen and (max-width: 1080px){
  .container-one{
    margin-top: 1rem;
  }
.container-two{
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.teacher{
  margin-top: 0rem;
  margin-bottom: 3rem;
  width: 100%;
}

.linkSite{
width: 100%;
gap: 4px;
}

.linkSite div{
  line-height: 0.5rem;
  height: 6.7rem
}

.divStrong{
  width: 82%;
  text-align: center;
  margin-top: 0rem;
  height: 8rem;
}

.linkSite div strong{
width: 10rem;
margin-top: 1rem;
line-height: 0rem;
}

.linkSite div p {
margin-top: 1rem;
margin-left: 0rem;
width: 100%;
}

.icon{
  margin-top: 0rem;
  padding: 6px;
}



.contact{
flex-direction: column;
align-items:center;
}

.contact a {
  width: 75%;
  margin-left: 7.2rem;
}

}


@media screen and (max-width: 480px){
  .container-two{
    flex-direction: column;
    align-items: center;
    margin-left: -1rem;
    width: 97%;
    margin-bottom: 0rem;
}


  .contact a {
  width: 60%;
  margin-left: 3.5rem;
}

}
