.testeLogo {
    height: 30rem;
    width: 55rem;
    margin-top: 0.5rem;
    background: transparent;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.sectionTwo{
    margin-top: 0rem;
}

@media screen and (max-width: 1080px){
    .section{
        margin-top: 0.2rem;
        flex-direction: column;
    }

    .sectionTwo{
        margin-top: 2rem;
    }

    .testeLogo{
        margin-top: 1rem;
        width: 28rem;
        height: 18rem;
    }
}