.testeLogo {
    height: 30rem;
    width: 55rem;
    margin-top: 0.5rem;
    background: transparent;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.sectionTitle {
    max-width: 640px;
}

.sectionTwo{
    margin-top: 0rem;
}

@media screen and (max-width: 1080px){
    .section{
        margin-top: 0.2rem;
        flex-direction: column;
    }

    .sectionTitle {
        font-size: 1.7rem;
        width:92%;
        
    }

    .sectionTitle h1{
        font-size: 2.7rem;
    }

    .sectionTwo{
        margin-top: 2rem;
    }

    .sectionTwo strong {
        font-size: 2rem;
    }

    .sectionTwo form {
        gap: 1.5rem;
        font-size: 1.3rem;
    }


    .sectionTwo form button {
        font-size: 1.1rem;
    }


    .testeLogo{
        margin-top: 1rem;
        width: 75%;
        height: 25rem;
    }
}