
.section-three{
        display: grid;
        
}



@media screen and (max-width: 1080px){
    .master{
        height:40rem;
    }
    
    .section-one{
       
    }
    
    .section-two{
    flex-direction: column;
    align-items: center;
    
    
    }
    .community{
        width: 100%;
        align-items: center;
        margin-left: 1rem;
        
    }

    .section-three{
        display: flex;
        flex-direction: column;  
        
    }
}

@media screen and (max-width: 620px){
    
    .community{
        margin-left: -1.5rem;
    }

    .section-three{
        margin-left: -1rem;
        width:100%;        
    }

    .sectionT1{
        font-size: 1.7rem;
    }
    
    .sectionP2{
        margin-left: -6rem;
        width: 90%;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }
    .sectionP3{
        margin-left: -6rem;
        width: 220%;
    }
    .divArrow {
        margin-left: -8.6rem;
    }
    
}