
.section-three{
        display: grid;
        
}



@media screen and (max-width: 1080px){
    .section-one{
       
    }
   
    .container-video{
     border: red 1px solid;
     
    }
    
    .section-two{
    flex-direction: column;
    align-items: center;
    
    
    }
    .community{
        width: 100%;
        align-items: center;
        margin-left: 1rem;
        
    }

    .section-three{
        display: flex;
        flex-direction: column;  
    }
}

@media screen and (max-width: 620px){

    
}